body {
    margin: 0;
}

.menu {
    background-color: #1f1f1f;
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu div {
    height: 100%;
    line-height: 60px;
    width: 100%;
    text-align: center;
}

#whole-cr-menu {
    background-color: rgb(17, 69, 126);
}

.menu div:hover {
    background-color: #5f5f5f;
    cursor: pointer;
}

.active {
    background-color: #eeeeee !important;
    color: #1f1f1f !important;
    transition: 0.3s;
}

.menu>div>span:hover {
    cursor: pointer;
}

#whole-school {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#whole-cr {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#by-gender {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.stats-wrapper {
	width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .stats-wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-around;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }
    .stat-card {
        width: 100% !important;
    }

}

.stat-card {
    width: 45%;
}

.gone {
    display: none !important;
}
